{% load static %}
{% load staticfiles %}
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<head>

<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    
<!--<link rel="icon" type="image/png" href="{% static 'css/pelota.png' %}" />-->

<title>Blog de Sosa </title>
    

    

    
    
    
</head>
<body >
       <nav>

    <div style="background-color:#607D8B" class="nav-wrapper">
      <a style="font-family: 'Pacifico', cursive; !important" href="http://127.0.0.1:8000" class="brand-logo" >El Blog de Sosa</a>
      <ul class="right hide-on-med-and-down">     
<div>
</div>
      <li><a href="#"><i class="material-icons">search</i></a></li>
     


    </div>
      
          
        
      </ul>
    </div>
  </nav> 

    
 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  
    




    {% block content %}{% endblock %}
     <footer style="color:black;margin-top:0.1%" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Camilo Sosa Blog</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Resources:</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://www.freepik.com">Freepik</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.flaticon.com">Flaticon</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.instagram.com/camilososat">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.twitter.com/CamiloSosaT">Twitter</a></li>
                </ul>
                  
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">© 2016 Copyright

            </div>
          </div>
        </footer>
         
</body>
    

</html>
