{% extends "base.html" %}
{% block sidebar %}
{% load static %}
{% load staticfiles %}


  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <style type="text/css">
        #sidebar { float: right; border: 1px dotted #ccc; padding: 4px; }
        a { margin-left: 15px; }

    </style>
    <div id="sidebar">
        Monthly Archive
        <p>
        {% for month in months %}
            {% ifchanged month.0 %} {{ month.0 }} <br /> {% endifchanged %}

        {% endfor %}
        </p>
    </div>
{% endblock %}

{% block content %}


    <div class="container">
        <div class="col s12 m7">
        {% for post in post_list %}
          <div class="card small hoverable">
            <div class="card-image">
              <img src="{% static 'subidas/img/'%}{{post.nombre_imagen}}">
              <span style="font-family:'Pacifico', cursive;color:black;font-size:30;" class="card-title">{{ post.title }}</span>
            </div>
            <div class="card-content">
              <p>{{ post.exp }}  |   Fecha de Creacion: {{ post.created }}</p>
            </div>
            <div class="card-action">
              <a href="{% url 'index:post' post.id %}">Ver</a>
            </div>
          </div>
{% endfor %}        
</div>

      </div>
                
                 







        <!-- Next/Prev page links  -->
        {% if not archive and posts.object_list and posts.paginator.num_pages > 1 %}
        <div style="margin-left:40%;margin-top:3%" class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">&lt;&lt; Post mas nuevos</a>
                {% endif %}

                <span class="current">
                    &nbsp;Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> Post anteriores &gt;&gt;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}



{% endblock %}
